

<!-- Full Page Intro -->
<div class="view full-page-intro heroImg">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">

          <h1 class="display-4 font-weight-bold">Bienvenidos al Banco Karan</h1>

          <hr class="hr-light">

          <p class="mb-4 d-md-block">
            <strong>Aca creamos una descripcion de nuestro banco.</strong>
          </p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

              <!-- Form -->
              <form name="">
                <!-- Heading -->
                <h3 class="dark-grey-text text-center">
                  <strong>Empieza con nosotros</strong>
                </h3>
                <hr>

                <div class="md-form">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="text" id="form1" class="form-control">
                  <label for="form1">Nombre</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-user prefix grey-text"></i>
                  <input type="text" id="form3" class="form-control">
                  <label for="form3">Apellido</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-address-card prefix grey-text"></i>
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Cédula/Rif</label>
                </div>
                <div class="md-form">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="text" id="form4" class="form-control">
                  <label for="form4">Correo</label>
                </div>
                <div class="form-check align-middle">
                  <fieldset class="form-check">
                    <input
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="tipoCuenta"
                    />
                    <label class="form-check-label prefix grey-text" for="flexCheckDefault">
                      ¿Es cuenta juridica?
                    </label>
                  </fieldset>
                </div>

                <div class="text-center" style="margin-top: 1rem">
                  <button class="btn btn-primary">Registrarse</button>
                </div>

              </form>
              <!-- Form -->

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->

<!--Main layout-->
<main>
  <div class="container">

    <hr class="my-5">

    <!--Section: Main features & Quick Start-->
    <section>

      <h3 class="h3 text-center mb-5">About MDB</h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Bootstrap 4</h5>
              <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Detailed documentation</h5>
              <p class="grey-text">We give you detailed user-friendly documentation at your disposal. It will help you to implement your ideas
                easily.
              </p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Lots of tutorials</h5>
              <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                how to use MDB as well as other technologies.</p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">

          <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
          </div>
        </div>
        <!--/Grid column-->

      </div>
      <!--/Grid row-->

    </section>
    <!--Section: Main features & Quick Start-->

  </div>
</main>
<!--Main layout-->
